In [2]:
import pandas as pd
import ipywidgets as widgets

In [3]:
from random import *

In [4]:
lifeSpan = randrange(121)
print(lifeSpan)

25

In [5]:
birthRate = uniform(1.0, 3.0)
print(birthRate)

1.7094473598910696

In [6]:
Occupation = choice(['Manual Labor', 'Militia', 'Medical Aid', 'Agricultural', 'GovWarlord', 'Tech'])
print(Occupation)

Manual Labor

In [7]:
companies = ['AA', 'AAPL', 'BA']

d = {}
for name in companies:
    d[name] = pd.DataFrame()

In [7]:
from random import *
import pandas as pd

emptyList = []

for x in range(1000):
    

    lifeSpan = randrange(18,99)

    birthRate = randint(1, 4)

    Occupation = choice(['Manual Labor', 'Militia', 'Medical Aid', 'Agricultural', 'GovWarlord', 'Tech'])
    
    num = 1 + x
    
    df = 1 + x
    
    name = 'list' + str(num)
        
    #print(name)

        
    name = [birthRate, Occupation, lifeSpan]
        
    #display(name)
    
    emptyList.append(name)
    
    
    
    
    
#display(emptyList)

df = pd.DataFrame(emptyList, columns =['Birth Rate', 'Occupation', 'Life Span'])

print(type(df))

df

#df.to_csv("/home/aaron/file_name", sep='\t')

<class 'pandas.core.frame.DataFrame'>

     Birth Rate    Occupation  Life Span
0             1   Medical Aid         20
1             1  Agricultural         94
2             4          Tech         37
3             3    GovWarlord         19
4             3       Militia         46
..          ...           ...        ...
995           4  Agricultural         27
996           3  Agricultural         38
997           3       Militia         40
998           2   Medical Aid         77
999           1  Agricultural         69

[1000 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
Birth Rate    1000 non-null int64
Occupation    1000 non-null object
Life Span     1000 non-null int64
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

In [9]:
df['Life Span'].nunique()

81

In [11]:
plot_data = [[]] * 3
plot_data
plot_data[0].append(1)
plot_data

[[1], [1], [1]]

In [12]:



#def pop():
    
lifeSpan = randrange(18,99)

birthRate = randint(1, 4)

Occupation = choice(['Manual Labor', 'Militia', 'Medical Aid', 'Agricultural', 'GovWarlord', 'Tech'])

person = {'BirthRate': '',
     'Occupation': '',
     'lifeSpan': '',
     }
person.update({'BirthRate':birthRate})

person.update({'Occupation':Occupation})

person.update({'lifeSpan':lifeSpan})

# person2 = {'BirthRate': '',
#       'Occupation': '',
#       'lifeSpan': '',
#       }
# person2.update({'BirthRate':birthRate})

# person2.update({'Occupation':Occupation})

# person2.update({'lifeSpan':lifeSpan})

pd_df = pd.DataFrame(person, index=[0])

display(pd_df)

# pd_df2 = pd.DataFrame(person2, index=[0])




#for x in range(0, 10):
#    print(pop())

#pop()

#print(person)

#display(pd_df3)

#display(pd_df)
print(type(person))
print(person)

   BirthRate Occupation  lifeSpan
0          2       Tech        70

<class 'dict'>
{'BirthRate': 2, 'Occupation': 'Tech', 'lifeSpan': 70}

In [13]:
l2 = []

for x in range(5):
    
    num = 1 + x
    
    name = 'person' + str(num)
        
    print(name)
    
    #l2.append(name)
    
#caca = l2    
    
# print(caca)1
# print(type(caca))

person1
person2
person3
person4
person5

In [14]:
l2 = []

for x in range(5):
    
    num = 1 + x
    
    name = 'person' + str(num)
        
    print(name)

person1
person2
person3
person4
person5

In [15]:
l1 = [1,2,3,4,5,6,7,8]
l2 = []
for number in l1:
    calc = number*10
    print(calc)
    l2.append(calc)

10
20
30
40
50
60
70
80

In [16]:
l2 = []

for x in range(5):
    
    num = 1 + x
    
    name = 'person' + str(num)
 
    lifeSpan = randrange(22,99)

    birthRate = randint(1, 4)

    Occupation = choice(['Manual Labor', 'Militia', 'Medical Aid', 'Agricultural', 'GovWarlord', 'Tech'])
    
    name = {'BirthRate': '',
     'Occupation': '',
     'lifeSpan': '',
     }
    
    #print(name)
    
    #print(type(name))
    
    name['lifeSpan'] = lifeSpan
    
    name['BirthRate'] = birthRate
    
    name['Occupation'] = Occupation
    
    if x = 5:
        
        pd.DataFrame.from_dict([person1, person2])
    
    #l2.append(name)
    
    print(name)
    
    #print(type(l2))
    
#display(person)
    
    
    #display(pd_df)

SyntaxError: invalid syntax (<ipython-input-16-da2f2d421116>, line 30)

In [ ]:

def personGen():
    for x in range(5):
        
        appended_data = []
        
        lifeSpan = randrange(22,99)

        birthRate = randint(1, 4)

        Occupation = choice(['Manual Labor', 'Militia', 'Medical Aid', 'Agricultural', 'GovWarlord', 'Tech'])
        
        
        
        num = 1 + x

        person = 'person' + str(num)
        
#         person = {'BirthRate': '{0}',
#              'Occupation': '',
#              'lifeSpan': '',
#              }.format("caca")
        
print(person)
        
        
#         person.update({'BirthRate':birthRate})

#         person.update({'Occupation':Occupation})

#         person.update({'lifeSpan':lifeSpan}) 
                        
#         pd_df = pd.DataFrame(person, index=[0])
        
        

        #pd_df.append(appended_data, ignore_index = True)

#         concatDF(pd_df)
    

# def concatDF(pd_df):
    
#     concated = pd.concat([pd_df], axis=0)
    
#     display(concated)
    
#personGen()

In [ ]:
print("Next thing would be to for loop and give advantages to children from parents (seed)...basically a step towards evol.")

In [ ]:
print("Need to find out by how much does each column do to the affected area by its 'traits ie Birthrae'")